@{
    ViewData["Title"] = "Home Page";
}

<h4>Hello, welcome to my Coursework 3 Blog.</h4>
<br />
<img src="~/images/avatar1.jpg" width="100" height="100" /><img src="~/images/avatar2.jpg" width="100" height="100" /><img src="~/images/avatar3.jpg" width="100" height="100" /><img src="~/images/avatar4.jpg" width="100" height="100" /><img src="~/images/avatar5.jpg" width="100" height="100" /><img src="~/images/avatar6.jpg" width="100" height="100" />

