@model IEnumerable<CW3Blog.ViewModels.AnalyticsViewModel>

@{
    ViewData["Title"] = "Analytics";
}

<h2>Analytics of User Engagement</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumComments)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumComments)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
