@model IEnumerable<CW3Blog.ViewModels.AnalyticsCommentsViewModel>

@{
    ViewData["Title"] = "Analytics";
}

<h2>Analytics of User Engagement</h2>

<li><a asp-area="" asp-controller="AnalyticsComments" asp-action="Comment">Analytics Comments</a></li>
<li><a asp-area="" asp-controller="AnalyticsLocation" asp-action="Index">Analytics Location</a></li>
<br />
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back</a>
</div>